<a href="https://colab.research.google.com/github/kingketan9/CloudComputingLabs/blob/main/Ass5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null ### Installing Java

In [ ]:
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz #### Installing Spark and Hadoop on the worker node
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark #### Creating a Sparksession

In [ ]:
!wget https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv # Download the data

--2023-02-24 10:41:46--  https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobceles.github.io (jacobceles.github.io)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to jacobceles.github.io (jacobceles.github.io)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv [following]
--2023-02-24 10:41:46--  https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobcelestine.com (jacobcelestine.com)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to jacobcelestine.com (jacobcelestine.com)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22608 (22K) [text/csv]
Saving to: ‘cars.csv.1’

cars.csv.1          100%[===================>]  22.08K  --.-KB/s    in 0.002s

2023-02-24 10:41:46 (12.4 MB/s) - ‘cars.csv.1’ saved [22608/22608]

Create a Spark dataframe from the CSV file and show its first 5 rows

In [ ]:
df = spark.read.csv('cars.csv', header=True, sep=";")

df.show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

Print the column details

In [ ]:
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

 View the data types of a dataframe: use dtypes, and printschema

In [ ]:
print(df.dtypes)

[('Car', 'string'), ('MPG', 'string'), ('Cylinders', 'string'), ('Displacement', 'string'), ('Horsepower', 'string'), ('Weight', 'string'), ('Acceleration', 'string'), ('Model', 'string'), ('Origin', 'string')]

In [ ]:
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

Print only the 'Car' column

In [ ]:
df.select('Car').show()

+--------------------+
|                 Car|
+--------------------+
|Chevrolet Chevell...|
|   Buick Skylark 320|
|  Plymouth Satellite|
|       AMC Rebel SST|
|         Ford Torino|
|    Ford Galaxie 500|
|    Chevrolet Impala|
|   Plymouth Fury iii|
|    Pontiac Catalina|
|  AMC Ambassador DPL|
|Citroen DS-21 Pallas|
|Chevrolet Chevell...|
|    Ford Torino (sw)|
|Plymouth Satellit...|
|  AMC Rebel SST (sw)|
| Dodge Challenger SE|
|  Plymouth 'Cuda 340|
|Ford Mustang Boss...|
|Chevrolet Monte C...|
|Buick Estate Wago...|
+--------------------+
only showing top 20 rows

Print multiple columns 'Car' and 'Cylinder'

In [ ]:
df.select('Car', 'Cylinders').show()

+--------------------+---------+
|                 Car|Cylinders|
+--------------------+---------+
|Chevrolet Chevell...|        8|
|   Buick Skylark 320|        8|
|  Plymouth Satellite|        8|
|       AMC Rebel SST|        8|
|         Ford Torino|        8|
|    Ford Galaxie 500|        8|
|    Chevrolet Impala|        8|
|   Plymouth Fury iii|        8|
|    Pontiac Catalina|        8|
|  AMC Ambassador DPL|        8|
|Citroen DS-21 Pallas|        4|
|Chevrolet Chevell...|        8|
|    Ford Torino (sw)|        8|
|Plymouth Satellit...|        8|
|  AMC Rebel SST (sw)|        8|
| Dodge Challenger SE|        8|
|  Plymouth 'Cuda 340|        8|
|Ford Mustang Boss...|        8|
|Chevrolet Monte C...|        8|
|Buick Estate Wago...|        8|
+--------------------+---------+
only showing top 20 rows

Groupby the data for 'Origin' column and show the counts

In [ ]:
df.groupBy('Origin').count().show()

+------+-----+
|Origin|count|
+------+-----+
|Europe|   73|
|    US|  254|
| Japan|   79|
+------+-----+

 Print rows where MPG>14

In [ ]:
df = df.filter((df.MPG > 14))

df

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0| 3850.|         8.5|   70|    US|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0| 3563.|        10.0|   70|    US|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0| 3761.|         9.5|   70|    US|
|Toyota Corolla Ma...|24.0|        4|       113.0|     95.00| 2372.|        15.0|   70| Japan|
|     Plymouth Duster|22.0|        6|       198.0|     95.00| 2833.|        15.5|   70|    US|
|          AMC Hornet|18.0|        6|       199.0|     97.00| 2774.|        15.5|   70|    US|
|       Ford Maverick|21.0|        6|       200.0|     85.00| 2587.|        16.0|   70|    US|
|        Datsun PL510|27.0|        4|       97.00|     88.00| 2130.|        14.5|   70| Japan|
|Volkswagen 1131 D...|26.0|        4|       97.00|     46.00| 1835.|        20.5|   70|Europe|
|         Peugeot 504|25.0|        4|       110.0|     87.00| 2672.|        17.5|   70|Europe|
|         Audi 100 LS|24.0|        4|       107.0|     90.00| 2430.|        14.5|   70|Europe|
|            Saab 99e|25.0|        4|       104.0|     95.00| 2375.|        17.5|   70|Europe|
|            BMW 2002|26.0|        4|       121.0|     113.0| 2234.|        12.5|   70|Europe|
|         AMC Gremlin|21.0|        6|       199.0|     90.00| 2648.|        15.0|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

Order the data according to the 'Cylinders' column in descending order

In [ ]:
df.orderBy(df.Cylinders.desc()).show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|   Dodge Dart Custom|15.0|        8|       318.0|     150.0| 3399.|        11.0|   73|    US|
|Mercury Monarch ghia|20.2|        8|       302.0|     139.0| 3570.|        12.8|   78|    US|
|    Ford Gran Torino|16.0|        8|       302.0|     140.0| 4141.|        14.0|   74|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|    Pontiac Catalina|16.0|        8|       400.0|     170.0| 4668.|        11.5|   75|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|   Chevrolet Bel Air|15.0|        8|       350.0|     145.0| 4440.|        14.0|   75|    US|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|
| Plymouth Grand Fury|16.0|        8|       318.0|     150.0| 4498.|        14.5|   75|    US|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0| 3563.|        10.0|   70|    US|
| Chevrolet Monza 2+2|20.0|        8|       262.0|     110.0| 3221.|        13.5|   75|    US|
|  Pontiac Grand Prix|16.0|        8|       400.0|     230.0| 4278.|        9.50|   73|    US|
|Chevrolet Chevell...|17.5|        8|       305.0|     140.0| 4215.|        13.0|   76|    US|
|  AMC Ambassador SST|17.0|        8|       304.0|     150.0| 3672.|        11.5|   72|    US|
|Dodge Coronet Bro...|16.0|        8|       318.0|     150.0| 4190.|        13.0|   76|    US|
|Dodge Coronet Custom|15.0|        8|       318.0|     150.0| 3777.|        12.5|   73|    US|
|         AMC Matador|15.5|        8|       304.0|     120.0| 3962.|        13.9|   76|    US|
|Chevrolet Caprice...|17.5|        8|       305.0|     145.0| 3880.|        12.5|   77|    US|
|Oldsmobile Cutlas...|17.0|        8|       260.0|     110.0| 4060.|        19.0|   77|    US|
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

Print rows where 'Origin'=='Europe and 'Cylinders'==4 (Use filter)

In [ ]:
df.filter((df.Origin == 'Europe') & (df.Cylinders == 4)).show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Volkswagen 1131 D...|26.0|        4|       97.00|     46.00| 1835.|        20.5|   70|Europe|
|         Peugeot 504|25.0|        4|       110.0|     87.00| 2672.|        17.5|   70|Europe|
|         Audi 100 LS|24.0|        4|       107.0|     90.00| 2430.|        14.5|   70|Europe|
|            Saab 99e|25.0|        4|       104.0|     95.00| 2375.|        17.5|   70|Europe|
|            BMW 2002|26.0|        4|       121.0|     113.0| 2234.|        12.5|   70|Europe|
|           Opel 1900|28.0|        4|       116.0|     90.00| 2123.|        14.0|   71|Europe|
|         Peugeot 304|30.0|        4|       79.00|     70.00| 2074.|        19.5|   71|Europe|
|           Fiat 124B|30.0|        4|       88.00|     76.00| 2065.|        14.5|   71|Europe|
|Volkswagen Model 111|27.0|        4|       97.00|     60.00| 1834.|        19.0|   71|Europe|
|   Volkswagen Type 3|23.0|        4|       97.00|     54.00| 2254.|        23.5|   72|Europe|
|     Volvo 145e (sw)|18.0|        4|       121.0|     112.0| 2933.|        14.5|   72|Europe|
| Volkswagen 411 (sw)|22.0|        4|       121.0|     76.00| 2511.|        18.0|   72|Europe|
|    Peugeot 504 (sw)|21.0|        4|       120.0|     87.00| 2979.|        19.5|   72|Europe|
|     Renault 12 (sw)|26.0|        4|       96.00|     69.00| 2189.|        18.0|   72|Europe|
|Volkswagen Super ...|26.0|        4|       97.00|     46.00| 1950.|        21.0|   73|Europe|
|Fiat 124 Sport Coupe|26.0|        4|       98.00|     90.00| 2265.|        15.5|   73|Europe|
|            Fiat 128|29.0|        4|       68.00|     49.00| 1867.|        19.5|   73|Europe|
|          Opel Manta|24.0|        4|       116.0|     75.00| 2158.|        15.5|   73|Europe|
|          Audi 100LS|20.0|        4|       114.0|     91.00| 2582.|        14.0|   73|Europe|
|         Volvo 144ea|19.0|        4|       121.0|     112.0| 2868.|        15.5|   73|Europe|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

Drop any column of your choice

In [ ]:
df = df.drop('Car')
df.show()

+----+---------+------------+----------+------+------------+-----+------+
| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+----+---------+------------+----------+------+------------+-----+------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
|15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|
|15.0|        8|       390.0|     190.0| 3850.|         8.5|   70|    US|
|15.0|        8|       383.0|     170.0| 3563.|        10.0|   70|    US|
|15.0|        8|       400.0|     150.0| 3761.|         9.5|   70|    US|
|24.0|        4|       113.0|     95.00| 2372.|        15.0|   70| Japan|
|22.0|        6|       198.0|     95.00| 2833.|        15.5|   70|    US|
|18.0|        6|       199.0|     97.00| 2774.|        15.5|   70|    US|
|21.0|        6|       200.0|     85.00| 2587.|        16.0|   70|    US|
|27.0|        4|       97.00|     88.00| 2130.|        14.5|   70| Japan|
|26.0|        4|       97.00|     46.00| 1835.|        20.5|   70|Europe|
|25.0|        4|       110.0|     87.00| 2672.|        17.5|   70|Europe|
|24.0|        4|       107.0|     90.00| 2430.|        14.5|   70|Europe|
|25.0|        4|       104.0|     95.00| 2375.|        17.5|   70|Europe|
|26.0|        4|       121.0|     113.0| 2234.|        12.5|   70|Europe|
|21.0|        6|       199.0|     90.00| 2648.|        15.0|   70|    US|
+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

##Exercises for test.csv

Upload the dataset to Google Colab test.csv which describes the customer purchase behaviour

In [ ]:
df = spark.read.csv('test.csv', header=True, sep=",")
df

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
|1000004| P00128942|     M|46-50|         7|            B|                         2|             1|                 1|                11|              null|
|1000009| P00113442|     M|26-35|        17|            C|                         0|             0|                 3|                 5|              null|
|1000010| P00288442|     F|36-45|         1|            B|                        4+|             1|                 5|                14|              null|
|1000010| P00145342|     F|36-45|         1|            B|                        4+|             1|                 4|                 9|              null|
|1000011| P00053842|     F|26-35|         1|            C|                         1|             0|                 4|                 5|                12|
|1000013| P00350442|     M|46-50|         1|            C|                         3|             1|                 2|                 3|                15|
|1000013| P00155442|     M|46-50|         1|            C|                         3|             1|                 1|                11|                15|
|1000013|  P0094542|     M|46-50|         1|            C|                         3|             1|                 2|                 4|                 9|
|1000015| P00161842|     M|26-35|         7|            A|                         1|             0|                10|                13|                16|
|1000022| P00067942|     M|18-25|        15|            A|                        4+|             0|                 5|                14|              null|
|1000026| P00046742|     M|26-35|         7|            B|                         2|             1|                 1|                 2|                15|
|1000026| P00040042|     M|26-35|         7|            B|                         2|             1|                 5|              null|              null|
|1000026| P00196542|     M|26-35|         7|            B|                         2|             1|                 5|                 8|                14|
|1000026| P00004542|     M|26-35|         7|            B|                         2|             1|                 5|                 8|              null|
|1000028| P00159542|     F|26-35|         1|            C|                         2|             1|                10|                15|                16|
|1000029| P00111542|     M|36-45|         7|            C|                         1|             0|                 2|                17|              null|
|1000033| P00121042|     M|46-50|         3|            A|                         1|             1|                15|              null|              null|
|1000033| P00344442|     M|46-50|         3|            A|                         1|             1|                 5|                 8|                14|
|1000034| P00265242|     F|18-25|         0|            A|                         0|             0|                 5|                 8|              null|
|1000035|  P0096642|     M|46-50|         1|            C|                        4+|             1|                 2|                 3|                 4|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
only showing top 20 rows

Show Column details of the dataset

In [ ]:
df.printSchema()

root
 |-- User_ID: string (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Product_Category_1: string (nullable = true)
 |-- Product_Category_2: string (nullable = true)
 |-- Product_Category_3: string (nullable = true)

Display the first 15 rows of the dataset

In [ ]:
df.show(15)

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
|1000004| P00128942|     M|46-50|         7|            B|                         2|             1|                 1|                11|              null|
|1000009| P00113442|     M|26-35|        17|            C|                         0|             0|                 3|                 5|              null|
|1000010| P00288442|     F|36-45|         1|            B|                        4+|             1|                 5|                14|              null|
|1000010| P00145342|     F|36-45|         1|            B|                        4+|             1|                 4|                 9|              null|
|1000011| P00053842|     F|26-35|         1|            C|                         1|             0|                 4|                 5|                12|
|1000013| P00350442|     M|46-50|         1|            C|                         3|             1|                 2|                 3|                15|
|1000013| P00155442|     M|46-50|         1|            C|                         3|             1|                 1|                11|                15|
|1000013|  P0094542|     M|46-50|         1|            C|                         3|             1|                 2|                 4|                 9|
|1000015| P00161842|     M|26-35|         7|            A|                         1|             0|                10|                13|                16|
|1000022| P00067942|     M|18-25|        15|            A|                        4+|             0|                 5|                14|              null|
|1000026| P00046742|     M|26-35|         7|            B|                         2|             1|                 1|                 2|                15|
|1000026| P00040042|     M|26-35|         7|            B|                         2|             1|                 5|              null|              null|
|1000026| P00196542|     M|26-35|         7|            B|                         2|             1|                 5|                 8|                14|
|1000026| P00004542|     M|26-35|         7|            B|                         2|             1|                 5|                 8|              null|
|1000028| P00159542|     F|26-35|         1|            C|                         2|             1|                10|                15|                16|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
only showing top 15 rows

Print the total number of rows in the dataset

In [ ]:
df.count()

233599

Determine the total Purchase per City Category

In [ ]:
df.groupby("City_Category").count().show()

+-------------+-----+
|City_Category|count|
+-------------+-----+
|            B|98566|
|            C|72509|
|            A|62524|
+-------------+-----+

Remove rows which have missing values

In [ ]:
df = df.dropna()

Determine the number of users who have age in the age range 46-50 years

In [ ]:
from pyspark.sql.functions import col

df.filter(col('Age') == '46-50').count()

5782

Which city has the largest purchase amount?

In [ ]:
df = df.withColumn("sum", col("Product_Category_1") + col("Product_Category_2") + col("Product_Category_3"))

df.orderBy(df.sum.desc()).show()

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+----+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3| sum|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+----+
|1001985| P00209642|     M|46-50|        12|            A|                         2|             1|                15|                16|                17|48.0|
|1005880| P00209642|     M|26-35|         1|            A|                         1|             1|                15|                16|                17|48.0|
|1004054| P00209642|     M|36-45|         3|            B|                         1|             0|                15|                16|                17|48.0|
|1000165| P00209642|     M|18-25|        16|            A|                         1|             0|                15|                16|                17|48.0|
|1004160| P00209642|     M|36-45|        20|            A|                        4+|             1|                15|                16|                17|48.0|
|1004447| P00209642|     M|46-50|         5|            B|                         0|             1|                15|                16|                17|48.0|
|1005034| P00209642|     F|26-35|        15|            C|                         1|             1|                15|                16|                17|48.0|
|1001925| P00209642|     M|51-55|         7|            B|                         1|             0|                15|                16|                17|48.0|
|1005916| P00209642|     M|51-55|        20|            B|                         1|             1|                15|                16|                17|48.0|
|1005815| P00209642|     M|26-35|        20|            B|                         1|             0|                15|                16|                17|48.0|
|1004661| P00209642|     M|46-50|        15|            B|                        4+|             1|                15|                16|                17|48.0|
|1004514| P00209642|     M|18-25|         3|            C|                         2|             1|                15|                16|                17|48.0|
|1000776| P00209642|     F|26-35|         3|            B|                         1|             0|                15|                16|                17|48.0|
|1003807| P00209642|     F|36-45|        19|            B|                         2|             0|                15|                16|                17|48.0|
|1004408| P00209642|     F|46-50|         2|            B|                         1|             1|                15|                16|                17|48.0|
|1004897| P00209642|     M|36-45|        16|            B|                         3|             0|                15|                16|                17|48.0|
|1005085| P00209642|     M|  55+|        17|            C|                         0|             0|                15|                16|                17|48.0|
|1003923| P00209642|     M|36-45|         2|            C|                         2|             0|                15|                16|                17|48.0|
|1003479| P00209642|     M|18-25|         4|            C|                         2|             0|                15|                16|                17|48.0|
|1004344| P00209642|     M|26-35|         1|            A|                        4+|             0|                15|                16|                17|48.0|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+----+
only showing top 20 rows