<a href="https://colab.research.google.com/github/kingketan9/CloudComputingLabs/blob/main/MidSemLabEval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Consider the following RDD's
a = ['orange' , 'mango', 'apple' , 'grapes' , 'orange']
b = ['green' , 'red' , 'yellow']

print the following
result = ['orange' , 'mango', 'apple' , 'grapes' , 'orange' , 'green' , 'red' , yellow ]

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null ### Installing Java

!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz #### Installing Spark and Hadoop on the worker node
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark


import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark #### Creating a Sparksession


sc = spark.sparkContext #### Defining the gateway to the spark infrastructure

In [42]:
a = ['orange', 'mango', 'apple', 'grapes', 'orange']
b = ['green', 'red', 'yellow']

result = sc.parallelize(a).union(sc.parallelize(b)).collect()
print(set(result))

{'apple', 'green', 'yellow', 'red', 'mango', 'orange', 'grapes'}

Given the three RDD's
w = [('a' ,4), ('b',5)]
x = [('b' , 4) ,('c',9]
y = [('c',3),('a',2)]

print the result as
ans = [('c',[9,3]) , ('b' ,[5,4])]

In [6]:
w = sc.parallelize([('a', 4), ('b', 5)])
x = sc.parallelize([('b', 4), ('c', 9)])
y = sc.parallelize([('c', 3), ('a', 2)])

merged = w.union(x).union(y)

filtered = merged.filter(lambda x: x[0] != 'a')

aggregated = filtered.reduceByKey(lambda x, y: [x, y])

result = aggregated.map(lambda x: (x[0], [x[1][0], x[1][1]])).collect()

print(result)

[('c', [9, 3]), ('b', [5, 4])]

Consider the following RDD = [2,3,4,5]

print the following
ans1 = [2,4,3,9,4,16,5,25]

ans2 = [2,4,16]

In [39]:
RDD = [2, 3, 4, 5]
RDD = sc.parallelize(RDD)
ans1 = RDD.map(lambda x: [x, x**2]).reduce(lambda a, b: a + b)
print(ans1)

[2, 4, 3, 9, 4, 16, 5, 25]

In [40]:
ans1 = sc.parallelize(ans1)
ans2 = ans1.filter(lambda x: x % 2 == 0).collect()
ans2 = set(ans2)
print(ans2)

{16, 2, 4}